:root {
  --gray: #434455;
  --dark_gray: #2e2f42;
  --iris: #4d5ae5;
  --cloud: #f4f4fd;
}

body {
  background-color: #ffffff;
  color: #434455;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
footer {
  background-color: var(--dark_gray);
  color: var(--cloud);
}
img {
  display: block;
}
.head {
  border-bottom: 1px solid #e7e9fc;
}
.head-section {
  display: flex;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
  gap: 40px;
}
.nav-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  color: var(--dark_gray);
}
.nav-list:focus {
  color: #404bbf;
}
.nav-list:hover {
  color: #404bbf;
}
.sect-first {
  padding: 188px 0;
  background-color: var(--dark_gray);
}
.sect-second {
  padding: 120px 0;
}
.sect-third {
  padding-bottom: 120px;
}
.solution {
  color: #ffffff;
  line-height: 1.07;
  font-size: 56px;
  font-weight: 700;
  max-width: 496px;
  text-align: center;
  letter-spacing: 0.02em;
}
.features-list {
  gap: 24px;
}
.images-list {
  display: flex;
  gap: 24px;
}
.article {
  color: var(--dark_gray);
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}
.features-article {
  color: var(--dark_gray);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.image {
  flex-basis: calc((100% - 48px) / 3);
}
.people-article {
  color: var(--dark_gray);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-article {
  color: var(--dark_gray);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.features-paragraph {
  color: var(--gray);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: calc((100% - 72px) / 4);
}
.people-paragraph {
  color: var(--gray);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio-paragraph {
  color: var(--gray);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.sect-fourth {
  background-color: var(--cloud);
}
.list-back {
  background-color: #ffffff;
}
.btn {
  background: var(--iris);
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  cursor: pointer;
  border-radius: 4px;
  display: block;
  border: none;
  min-width: 169px;
  height: 56px;
}
.btn:hover {
  background-color: #404bbf;
}
.btn:focus {
  background-color: #404bbf;
}
.portfolio-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  color: var(--iris);
  background-color: var(--cloud);
}
.portfolio-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
}
.portfolio-btn:hover {
  color: #ffffff;
  background-color: #404bbf;
}
.web {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
  color: var(--iris);
  display: inline-block;
  margin-bottom: 16px;
}

/* Default classes */
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.container {
  margin: 0 auto;
  width: 1158px;
  padding: 0 15px;
}

.head-studio {
  color: var(--dark_gray);
}
.foo-studio {
  color: var(--cloud);
}
.info {
  font-style: normal;
}
.info-list {
  display: flex;
  gap: 40px;
}
.info-style {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--gray);
}
.info-style:hover {
  color: #404bbf;
}
.info-style:focus {
  color: #404bbf;
}
.foo {
  padding: 100px 0;
}
.foo-paragraph {
  letter-spacing: 0.02em;
  line-height: 1.5;
  max-width: 264px;
  color: var(--cloud);
}
